
.container{
  width: 70vw;
  margin-top: 5rem;
  margin-left: 18vw;
  margin-right: 15vw;
  .row{
    .col{

      .about-heading{
        font-size: 1.7rem;
        color: darkblue;
        margin-bottom: 1rem;
        font-weight: 500;

      }
      .about-image{

      }
      .about-para{
        .about-p{

        }
      }
    }
  }
}

