<!-- <div class="about-container">
  <div class="about-row">
    <div class="about-col">
      <div class="about">
        <div class="about-heading">About University of Houston-Downtown</div>
        <div clas="about-para">
          <p class="about-p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
            ipsum ab ipsa, rerum, a eius dignissimos placeat esse impedit quasi
            porro assumenda nobis repudiandae harum, necessitatibus vel
            inventore quia aspernatur?Lorem ipsum.
          </p>
          <p class="about-p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
            ipsum ab ipsa, rerum, a eius dignissimos placeat esse impedit quasi
            porro assumenda nobis repudiandae harum, necessitatibus vel
            inventore quia aspernatur?Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Soluta, aspernatur! Alias dolore inventore omnis
            sequi velit iure! Vel animi culpa repellat corrupti enim tempore
            consequuntur,
          </p>
          <p class="about-p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
            ipsum ab ipsa, rerum, a eius dignissimos placeat esse impedit quasi
            porro assumenda nobis repudiandae harum.
          </p>
        </div>
      </div>
      <div class="about-image">
        <img src="\assets\images\Untitled-1.gif" />
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="about-heading">About University of Houston-Downtown</div>

      <div clas="about-para">
        <p class="about-p">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
          ipsum ab ipsa, rerum, a eius dignissimos placeat esse impedit quasi
          porro assumenda nobis repudiandae harum, necessitatibus vel inventore
          quia aspernatur?Lorem ipsum.
        </p>
        <p class="about-p">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
          ipsum ab ipsa, rerum, a eius dignissimos placeat esse impedit quasi
          porro assumenda nobis repudiandae harum, necessitatibus vel inventore
          quia aspernatur?Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Soluta, aspernatur! Alias dolore inventore omnis sequi velit
          iure! Vel animi culpa repellat corrupti enim tempore consequuntur,
        </p>
        <p class="about-p">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
          ipsum ab ipsa, rerum, a eius dignissimos placeat esse impedit quasi
          porro assumenda nobis repudiandae harum.
        </p>
      </div>
    </div>
    <div class="col">
      <div class="about-image">
        <img class="img-fluid"  alt="Responsive image" src="\assets\images\Untitled-1.gif" />
      </div>
    </div>
  </div>
</div>
