<div class="main-banner">
  <ngb-carousel >
	<!-- *ngIf="images" -->
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- <img [src]="images[0]" alt="Random first slide" /> -->
		<img src="\assets\images\image2.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- <img [src]="images[1]" alt="Random second slide" /> -->
		<img src="\assets\images\image7.jpg">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- <img [src]="images[2]" alt="Random third slide" /> -->
		<img src="\assets\images\image5.jpg">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- <img [src]="images[3]" alt="Random fourth slide" /> -->
		<img src="\assets\images\image3.jpg">

      </div>
    </ng-template>
  </ngb-carousel>
  <div class="footer-container">
    <p class="footer-para">The First Step in Your Life-Changing Experience</p>
  </div>
</div>
