<!-- <div class="choose-container">
  <div class="choose-heading" #demo>Why Choose UHD?</div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="col-head">Affordibility</div>
        <div class="choose-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi
          iure dolores voluptatibus eum quo accusantium nihil ipsam provident,
          cupiditate molestiae obcaecati ad debitis sapiente aliquid maxime
          cumque minus dignissimos in. Architecto inventore, dicta aut
          recusandae rem eaque voluptate, aspernatur nihil veniam, error dolore
          non rerum culpa ratione vel cumque?
        </div>
      </div>
      <div class="col-sm">
        <div class="col-head">Flexibility</div>
        <div class="choose-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi
          iure dolores voluptatibus eum quo accusantium nihil ipsam provident,
          cupiditate molestiae obcaecati ad debitis sapiente aliquid maxime
          cumque minus dignissimos in. Architecto inventore, dicta aut
          recusandae rem eaque voluptate, aspernatur nihil veniam, error dolore
          non rerum culpa ratione vel cumque?
        </div>
      </div>
      <div class="col-sm">
        <div class="col-head">Earning Ability</div>
        <div class="choose-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi
          iure dolores voluptatibus eum quo accusantium nihil ipsam provident,
          cupiditate molestiae obcaecati ad debitis sapiente aliquid maxime
          cumque minus dignissimos in. Architecto inventore, dicta aut
          recusandae rem eaque voluptate, aspernatur nihil veniam, error dolore
          non rerum culpa ratione vel cumque?
        </div>
      </div>
    </div>
  </div>

</div> -->
